<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="SolutionId" value="012d9ced-4fea-4411-bc62-212040f0197d" />
    <add key="SolutionFile" value="./NextLabs.RightsManager.wsp" />
    <add key="SolutionTitle" value="NextLabs Rights Management" />
    <add key="SolutionVersion" value="1.0.0.0" />
  </appSettings>
</configuration>